<tr class="product_property fields"  data-hook="product_property">
  <td class='property_name'>
    <%= f.text_field :property_name, :class => 'autocomplete' %>
  </td>
  <%- SpreeMultiLingual.languages.each do |locale| %>
    <td class='value'>
      <% fieldsym = "value_#{locale}".to_sym %>
      <%= f.text_field fieldsym, :class => 'autocomplete'  %>
    </td>
  <% end %>
  
  <td class="actions">
    <%= link_to_remove_fields t(:remove), f %>
  </td>
</tr>